.idea
node_modules
dist
.env
.session
.DS_Store
!.gemini/
.postgres/
out/
typed-router.d.ts
auto-imports.d.ts
components.d.ts
.eslintcache
node-compile-cache
data/
dev-dist/
.netlify
tsconfig.tsbuildinfo
coverage/
*.heapsnapshot
*.cpuprofile
backups/
*.local
.ghfs
.turbo
